@using FAQuizMVC.Models
@model FAQuizMVC.ViewModels.SurveyViewModel
@*@model List<Question>*@
@{
    ViewData["Title"] = "Index";
}

<h1>FA Survey</h1>

<form asp-action="Index">

    @for (int i = 0; i < Model.Questions.Count; i++)
    {
        <input type="hidden" asp-for="@Model.Questions[i].Content" />
        <input type="hidden" asp-for="@Model.Questions[i].Frequency" />
        <input type="hidden" asp-for="@Model.Questions[i].Category" />
        <strong>Question @(i + 1). @Model.Questions[i].Content</strong>
        <br />

        foreach (var answer in (Lookups.Frequency[])Enum.GetValues(typeof(Lookups.Frequency)))
        {
            @:&nbsp;&nbsp;&nbsp;
            if ((int)answer == 1)
            {
                <input type="radio" name="Answers[@i]" value="@((int)answer)" checked="checked" /> @:&nbsp; @answer.GetDescription()<br />
            }
            else
            {
                <input type="radio" name="Answers[@i]" value="@((int)answer)" /> @:&nbsp; @answer.GetDescription()<br />
            }
        }
        <br /><br />
    }

    <br />
    <input type="submit" value="Submit" />
    <br />
    <br />
</form>